body {
    width: 720px; /* Adjust width as needed */
    padding: 10px;
}

input[type="text"], input[type="number"] {
    width: calc(100% - 120px);
    margin-bottom: 10px;
}

button {
    margin-top: 5px;
    display: block;
}

ul {
    overflow-y: auto;
}
pre {
    font-family: monospace;
}